@model ImageSharingWithCloudStorage.Models.ListByUserModel

@{
    ViewBag.Title = "List Images By User";
}

<h2>@ViewBag.Title</h2>

<form class="form-group" method="get" asp-action="DoListByUser" asp-controller="Images">

    <fieldset>
        <legend>Choose a user</legend>
        <p>
            <!-- TODO-DONE select user from a drop-down menu -->
            User:
            <select asp-for="Id" asp-items="Model.Users">
                <option disabled selected value="">Select a User</option>
            </select>

        </p>
        <p>
            <input type="submit" value="List" />
        </p>
    </fieldset>

    @ViewBag.Message

</form>