body {
    background: white !important;
    color: #000000 !important;
    font-family: Verdana, Arial, Helvetica, Sans-Serif !important;
    font-size: 500% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.twoColumnHdrFtr #container {
    background: #ffffff !important;
    border: 1px solid #000000 !important;
    margin: 0 auto !important;
    max-width: 90vw !important;
    min-height: 90vh !important;
    overflow: hidden !important;
    text-align: left !important;
}

.twoColumnHdrFtr #header {
    background: #dddddd !important;
    padding: 10px !important;
}

.twoColumnHdrFtr #header h1 {
    margin: 0 !important;
    text-align: center !important;
    /* padding: 10px !important ; */
}

.twoColumnHdrFtr #sidebar {
    background: #ebebeb !important;
    float: left !important;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif !important;
    padding: 10px !important;
    width: 30% !important;
}

.twoColumnHdrFtr #sidebar h1 { font-size: 100% !important; }

h2 { font-size: 100% !important; }

legend { font-size: 50% !important; }

#nav {
    /* background:#c99 !important ; */
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif !important;
    font-size: 100% !important;
    padding: 5px 10px !important;
}

#nav ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

#nav li {
    display: inline !important;
    margin: 0 !important;
    padding: 0 10px !important;
}

.twoColumnHdrFtr #content {
    float: left !important;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif !important;
    padding: 10px !important;
    width: 70% !important;
}

.twoColumnHdrFtr #footer {
    background-color: white !important;
    border: 1px solid #000000 !important;
    margin: 0 auto !important;
    padding: 0 !important;
    padding: 10px !important;
    width: 90vw !important;
}

.twoColumnHdrFtr #footer p { font-size: x-small !important; }