body {
    background: #666666;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

.twoColumnHdrFtr #container {
    background: #ffffff;
    border: 1px solid #000000;
    margin: 0 auto;
    max-width: 90vw;
    min-height: 90vh;
    overflow: hidden;
    text-align: left;
}

.twoColumnHdrFtr #header { background: #dddddd; }

.twoColumnHdrFtr #header h1 {
    margin: 0;
    text-align: center;
    /* padding: 10px; */
}

.twoColumnHdrFtr #sidebar {
    background: #ebebeb;
    float: left;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
    padding: 10px;
    width: 10%;
}

.twoColumnHdrFtr #sidebar h1 { font-size: 100%; }

#nav {
    /* background:#c99; */
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
    font-size: 100%;
    padding: 5px 10px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}

.twoColumnHdrFtr #content {
    float: left;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
    padding: 10px;
    width: 70%;
}

.twoColumnHdrFtr #footer {
    background-color: white;
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 0;
    padding: 10px;
    width: 90vw;
}

.twoColumnHdrFtr #footer p { font-size: x-small; }