@{
    ViewData["Title"] = "Error";
}

@model ErrorViewModel

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Error Message: @Model.ErrId
</p>
<p>
    <strong>There was An error with the application.. Please contact <a href="https://sanjeet-jain.github.io/">SANJEET JAIN</a> with the request ID above. </strong>
</p>